*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    text-align: center;
    font-size: 1.2rem;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    color: #333;
}

.todo_list{
    list-style: none;
}
.done{
    text-decoration: line-through;
}
li.todo-item{
    background-color: #cef;
    text-align: left;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.todo-control{
    width: 100%;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
}
.footer{
    margin: 40px;
}
.not-animate{
    animation-play-state: paused;
}
button{
    background-color: #ccc;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin-left: 20px;
    color: #333;
}
button:hover{
    background-color: #999;
}
button.active{
    background-color: #444;
    color: #fff;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.todo-control input{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 1rem;
    padding: 16px 10px;
    margin-left: -10px;
    color: #333;
}
.btn-add-edit{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.mode-set{
    display: flex;
    justify-content: flex-end;
}
.mode-set .hint-text{
    margin-right: auto;
}
.btn-del{
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.btn-edit-small{
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.todo-item input[type="text"]{
    border: none;
    font-size: 1.2rem;
    color: #333;
}
.main-item{
    font-weight: bold;
}
.btn-return{
    position: absolute;
    margin-left: 0;
}
.head-title{
    color: #f26; 
    text-transform: uppercase;
    padding: 0 30px;
    margin-bottom: 20px;
}
.cursor-pointer{
    cursor: pointer;
}
.list-page{
    overflow: hidden;
}
.main-page li span{
    font-weight: bold;
}
.main-page .todo-item .btn-add-edit{
    height: 26px;
}
.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: .3s;
}
.modal-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #666;
    opacity: .6;
}
.modal{
    z-index: 10;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
#close{
    margin-top: 30px;
}
.hide-modal{
    visibility: hidden;
    opacity: 0;
}
.modal p{
    margin-bottom: 20px;
}
.modal span{
    font-size: 1rem;
}
.hint-text{
    color: #999;
    font-size: 1.1rem;
}